<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico">

    <title>AFD</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/starter-template/">

    <!-- Bootstrap core CSS -->
    <link href="/static/assets/css/bootstrap.min.css" rel="stylesheet">
    

    <!-- Custom styles for this template -->
    <link href="https://getbootstrap.com/docs/4.0/examples/starter-template/starter-template.css" rel="stylesheet">
    <link rel="stylesheet" href="static/assets/css/styles.css">
  </head>

  <body>

    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
      <a class="navbar-brand" href="#">AFD</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#">Disabled</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
            <div class="dropdown-menu" aria-labelledby="dropdown01">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
    </nav>

    <main role="main" class="container">

      <section class="jumbotron text-center">
        <div class="container">
          <h1 class="jumbotron-heading">AFD</h1>
          <img src="static/assets/image/bitmap.png" alt="Logo com transição de estados">
          <p class="lead text-muted">Alfabeto: J 1 E N 0 9 2 .</p>
          <p class="lead text-muted"> Gramatica: <a href="https://www.codecogs.com/eqnedit.php?latex=\large&space;J1\left&space;(&space;09&space;&plus;&space;EN&space;\right&space;)^*2" target="_blank"><img src="https://latex.codecogs.com/png.latex?\large&space;J1\left&space;(&space;09&space;&plus;&space;EN&space;\right&space;)^*2" title="\large J1\left ( 09 + EN \right )^*2" /></a> </p>
         

          <p>
            <a href="#digitar" class="btn btn-primary my-2">Inserir palavra</a>
            <a href="#accordionExample" class="btn btn-secondary my-2">Inserir arquivo</a>
          </p>
        </div>
      </section>


      <section id="digitar">
        <div id="formulario",class="container">
          <div class="row">
            <div class="col-sm">
              
            </div>
            <div class="col-lg">
              <form align="center" action="automato", method="POST">
                <div class="form-group">
                  <label for="palavra">Digite a palavra</label>
                  <input type="text" class="form-control" id="palavra" aria-describedby="palavra", name='palavra' >
                  <small id="palavraHelp" class="form-text text-muted">Digita a palavra a ser testada.</small>
                </div>
                <button type="submit" class="btn btn-primary" value='Submit'>Enviar</button>
              </form>
            </div>
            <div class="col-sm">
              
            </div>
          </div>
        </div>
      <!-- Respostas -->
        <div class="container">
          <div class="row">
            <div class="col-sm">
            </div>
            <div align="center" id="formulario", class="col-lg">

                {% if status == "ok" %}
                  <p class="alert alert-success"> A palavra: {{ resposta }} e aceita pela Linguagem!</p> 
                {% endif %}
    
                {% if status == "q6" %}
                <p class="alert alert-danger"> {{ resposta }}!</p> 
                {% endif %}
    
                {% if status == "q7" %}
                <p class="alert alert-warning">Situação {{ resposta}}!</p> 
                {% endif %}
    
                {% if status == "OFF" %}
                <div class="alert alert-danger" role="alert">
                  <p >A palavra {{ resposta}} não respita a gramatica!</p> 
                </div>
                <!-- <h1 style="color: coral;">Situação {{ resposta}}!</h1>  -->
                {% endif %}
            </div>
            <div class="col-sm">
    
    
            </div>  
          </div>
        </div>
      
      </section>
     
      <!-- <section>
  
        <div class="container", align="center" >
          <p>
            <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
              Inserir arquivo
            </a>
          </p>
          <div class="collapse" id="collapseExample">
            <div class="card card-body">
              <div class="row">
                <div class="col-sm"></div>
                <div  class="col-lg" id="section1" align="center" >
                  Carreaga aquivo
          
                  <form action="upload" method="post" enctype="multipart/form-data">
                    <div class="form-group">
                      <label for="exampleFormControlFile1">Insira o Arquivo .txt</label>
                      <input type="file" class="form-control-file" id="exampleFormControlFile1", name=file>
                    </div>
                    <button type="submit" class="btn btn-primary" value='Submit'>Enviar</button>
                  </form>
          
                </div>
                <div class="col-sm"></div>
              </div>
            </div>
          </div>
        </div>
  
      </section> -->
      
      <section>
  <!-- Passos -->
        <div class="accordion" id="accordionExample">
          <div class="card">
            <div class="card-header" id="headingOne">
              <h2 class="mb-0">
                <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                  Inserir Arquivo
                </button>
              </h2>
            </div>
        
            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
              <div class="card-body">
                <form action="upload" method="post" enctype="multipart/form-data" align="center" >
                  <div class="form-group">
                    <label for="exampleFormControlFile1">Insira o Arquivo .txt</label>
                    <input type="file" class="form-control-file" id="exampleFormControlFile1", name=file>
                  </div>
                  <button type="submit" class="btn btn-primary" value='Submit'>Enviar</button>
                </form>
              </div>
            </div>
          </div>
          
          <div class="card">
            <div class="card-header" id="headingTwo">
              <h2 class="mb-0">
                <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                  Transiçoes Realizadas
                </button>
              </h2>
            </div>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
              <div class="card-body">
                
              {% if status == "ok" %}
                <table class="table">
                  <thead class="thead-dark">
                    <thead class="thead-dark">
                      <tr>
                        <th scope="col">Palavra</th>
                        <th scope="col">Transiçoes</th>
                      </tr>
                    </thead>
                    <tbody>
                    {% for row in transicoes %}
                        <tr>
                          <td>{{ row.letra }}</td>
                          <td>{{ row.proximo }}</td>
                        </tr>
                    {% endfor %}
                      </tbody>
                  </table>
              {% endif %}  

              {% if status == "q6" %}
                <table class="table">
                  <thead class="thead-dark">
                    <thead class="thead-dark">
                      <tr>
                        <th scope="col">Palavra</th>
                        <th scope="col">Transiçoes</th>
                      </tr>
                    </thead>
                    <tbody>
                    {% for row in transicoes %}
                        <tr>
                          <td>{{ row.letra }}</td>
                          <td>{{ row.proximo }}</td>
                        </tr>
                    {% endfor %}
                      </tbody>
                  </table>
              {% endif %}
  
              
              
              
              {% if status == "q7" %}
                <table class="table">
                  <thead class="thead-dark">
                    <thead class="thead-dark">
                      <tr>
                        <th scope="col">Palavra</th>
                        <th scope="col">Transiçoes</th>
                      </tr>
                    </thead>
                    <tbody>
                    {% for row in transicoes %}
                        <tr>
                          <td>{{ row.letra }}</td>
                          <td>{{ row.proximo }}</td>
                        </tr>
                    {% endfor %}
                      </tbody>
                  </table>
              {% endif %}
                
            
  
              </div>
            </div>
          </div>
    
          {% if status == "arquivo" %}
            <div class="card">
              <div class="card-header" id="headingThree">
                <h2 class="mb-0">
                  <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    Respostas para palavras do arquivo
                    
                  </button>
                </h2>
              </div>
              <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                <div class="card-body">
                  
                  <table class="table">
                    <thead class="thead-dark">
                      <thead class="thead-dark">
                        <tr>
                          <th scope="col">Palavra</th>
                          <th scope="col">Resultado</th>
                        </tr>
                      </thead>
                      <tbody>
                      {% for row in situacao%}
                          <tr>
                            <td>{{ row.Palavra }}</td>
                            <td>{{ row.Status }}</td>
                          </tr>
                      {% endfor %}
                        </tbody>
                    </table>



                </div>
              </div>
            </div>
          {% endif %}
        </div>
        
      </section>

      <!-- <section class="footer">
        <div class="rodape" > 
          <footer class="text-muted">
            <div class="container">
              <p class="float-right">
                <a href="#">Back to top</a>
              </p>
              
              <p>Dessenvolvido por &copy;Jenaro Augusto Barbosa!</p>
              <p>Github <a href="https://github.com/jenaroaaugusto/AFD/">Link</a> </p>
            </div>
          </footer>
        </div>
      </section> -->

    </main><!-- /.container -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="static/assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="static/assets/js/vendor/popper.min.js"></script>
    <script src="static/assets/js/bootstrap.min.js"></script>
  </body>
</html>
